<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="map.android.mr_auspicious.bukarteadmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".Applications.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:label="" />
        <activity
            android:name=".Activities.Sell_Your_Boook"
            android:label=""
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activities.Custom_Notifcation"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.All_Book_Data"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Publish_Management"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Search_Terms"
            android:label=""
            android:screenOrientation="portrait" />

        <activity android:name=".Activities.My_Orders"
            android:screenOrientation="portrait"
            android:label=""/>
        <activity android:name=".Activities.Order_Details"
            android:screenOrientation="portrait"
            android:label=""/>

        <activity android:name=".Activities.Web_View_Activity"></activity>
    </application>

</manifest>